
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Deca&display=swap');

body {
    background-color: #121212;
    color: #efefef;
    font-family: 'Bebas Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend Deca', sans-serif;
}